.items{
    text-decoration: none;
    color: white;
}

.items :hover{
    color: blue;
}

.a-href-login{
    text-decoration: none;
    color: white;
}

.a-href-login:hover{
    color: black;
}

.container-content{
    background-color: #25244E;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
    padding: 2rem;
    text-align: center;
    color: white;
}

.text-white{
    font-family: 'poppins';
    font-size: 1.6vw;
    font-weight: 700;
    letter-spacing: .2rem;
}

.items{
    font-family: 'poppins';
    font-weight: 500;
    letter-spacing: .2rem;
    font-size: 1vw;
}

.container-awal{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./backgroundLanding.jpg');
    background-size: cover;
}

.img-landingpage1{
    width: 40vw;
    height: 80vh;
    margin-left: 2vw;
}

.container-awal-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container-awal-2 h1{
    font-family: 'poppins';
    font-weight: 700;
    letter-spacing: .3rem;
    font-size: 3.5vw;
    margin-top: 15%;
}

.container-awal-2 h6{
    font-family: 'poppins';
    font-weight: 400;
    font-size:  1rem;
    font-size: 1.3vw;
}

.container-kedua-1{
    display: flex;
    flex-direction: column;
}

.container-kedua{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
    background-color: white;
}

.component1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-left: 2vw;
}

.component1-1{
    display: flex;
    width: 20vw;
    height: 30vh;
    background-color: #25244E;
    border-radius: 20px;
    align-items: center;
}

.component1-1 h3{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.2vw;
    color: white;
    text-align: center;
}


.component1-2{
    display: flex;
    width: 20vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    align-items: center;
    margin-left: 2vw;
}

.component1-2 h3{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.2vw;
    color: #25244E;
    text-align: center;
}

.component2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-left: 2vw;
}

.component2-1{
    display: flex;
    width: 20vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    align-items: center;
}

.component2-1 h3{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.2vw;
    color: #25244E;
    text-align: center;
}


.component2-2{
    display: flex;
    width: 20vw;
    height: 30vh;
    background-color: #25244E;
    border-radius: 20px;
    align-items: center;
    margin-left: 2vw;
}

.component2-2 h3{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.2vw;
    color:white;
    text-align: center;
}

.container-kedua img{
    margin-top: 10vh;
    width: 30vw;
    height: 70vh;
}