body{
 overflow-x: hidden;
}

.flex-container {
    display: flex;
    /* overflow-x: hidden; */
    flex-direction: column;
}

.flex-item {
    margin: 2rem;
}

.image {
    margin-left: 10rem;
    height: 200px;
}

.form-edit{
  display: flex;
  justify-content: center;
}

.container-gambar-circle{
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 25vh;
  border: 1px solid black;
  border-radius: 100px;
  margin-left: 45vw;
  /* background: black; */
  background-image:url("../assets/addprof.jpg");
  background-size: cover;
}

.form {
    margin-left: 10rem;
    width: 500px;
}

.d-flex1{
    display: flex;
    flex-direction: column;
}




/* -ICONS- */

input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  