

.container-form{
    flex-basis: 60%;
}

.form-login{
    padding-left: 5rem;
    padding-right: 5rem;
}

.icon-login{
    flex-basis: 40%;
}

::placeholder{
    text-align: center;
    /* color: white; */
}

.login-input{
    background-color:rgba(242, 241, 239, 0.8) ;
    border: none;
}

.container-login{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
    width: 500px;
    border-radius: 10px;
    
}

.background{
    width: 100vw;
    height: 100vh;
}

.form-login{
    padding: 0;
}

