.container-form{
    flex-basis: 60%;
}

.form-login{
    padding-left: 5rem;
    padding-right: 5rem;
}

.icon-login{
    flex-basis: 40%;
}

::placeholder{
    text-align: center;
    /* color: white; */
}

.login-input{
    background-color:rgba(242, 241, 239, 0.8) ;
    border: none;
}

.container-login{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
    width: 500px;
    border-radius: 10px;
    
}

.background{
    width: 100vw;
    height: 100vh;
}

.form-login{
    padding: 0;
}

.d-flex1{
    display: flex;
    flex-direction: column;
}

/* SIDE BAR */
.container-sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    /* justify-content:space-evenly; */
    width: 5vw;
    height: 100vh;
    background-color: white;
    /* border: 3px black; */
    /* box-shadow: 10px 10px 5px rgb(129, 126, 126); */
}

.img-toga{
    /* display: flex; */
    width: 2.5vw;
    height: 5.5vh;
    margin-left: 13%;
    margin-top: 10%;
}

.component{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5VW;
    height: 55vh;
    /* background-color: red; */
    margin-top: 60%;
}

.container-dashboard{
    width: 4vw;
    height: 8vh;
    margin-left: 0.5vw; 
}

.img-work{
    width: 1.3vw;
    height: 2.8vh;
    margin-left: 30%;
    margin-top: 1vw;   
}

.img-dashboard{
    /* display: flex; */
    width: 1.5vw;
    height: 3vh;
    margin-left: 30%;
    margin-top: 1vw;
}

.container-dashboard:hover{
    background-color: #5570F1;
    border-radius: 10px;
    
    /* background-image: url("../assets/dashboard.png"); */
}

.img-active{
    /* display: flex; */
    width: 3vw;
    height: 7.3vh;
    margin-left: 9%;
    margin-top: 0.1vw;
}

.img-kuliah{
    width: 1.3vw;
    height: 3vh;
    margin-left: 30%;
    margin-top: 1vw;  
}

.img-wirausaha{
    width: 1.7vw;
    height: 3.5vh;
    margin-left: 30%;
    margin-top: 1vw; 
}

.component-logout{
    margin-top: 55vh;
}

.img-logout{
    width: 3vw;
    height: 6vh;
    margin-left: 13%;
}

    /* NAVBAR */

.container-navbar{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 9vh;
    background-color: white;
    margin-left: 5vw;
}
.container-navbar-dua{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 7vh;
    background-color: white;
    border-bottom-style:double;
    border-bottom-width: thin;
    border-bottom-color: rgb(241, 235, 235);
}

.container-navbar-dua h5{
    font-family: poppins, sans-serif;
    font-weight: 500;
    margin-top: 9%;
    margin-left: 1%;
}

.container-fluid{
    background-color: #EEF0FA;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.container-navbar-dua-kiri{
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    height: 7vh;
    /* border: 1px solid red; */
}

.container-admin{
    display: flex;
    justify-content: space-evenly;
    width: 7vw;
    height: 4vh;
    background-color: #FEF5EA;
    border-radius: 10px ;
    margin-top: 3%;
}

.container-admin h5{
    font-size: 80%;
    margin-top: 5%;
}

.img-admin{
    width: 1.4vw;
    height: 1.8vh;
    margin-top: 6%;
}

.img-lonceng{
    width: 1.4vw;
    height: 3vh;
    margin-top: 4.2%;
}

.img-profile{
    width: 2.3vw;
    height: 5vh;
    margin-top: 1.5%; 
}

.container-jumlah{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 95vw;
    height: 24vh;
    /* border: 1px solid black; */
    margin-left: 6.5%;
    /* overflow-x:auto; */
}
.container-jumlah-component{
    display: flex;
    flex-direction: row;
}

.container-jumlah-component-kelas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 29vw;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 1.5vh;
    /* margin-left: 6.5vw; */
}

.container-jumlah-component2{
    display: flex;
    flex-direction: column;
}

.container-jumlah-component-kelas2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 29vw;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.container-jumlah-component3{
    display: flex;
    flex-direction: column;
}

.container-jumlah-component-kelas3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 29vw;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.container-jumlah-component4{
    display: flex;
    flex-direction: column;
}

.container-jumlah-component-kelas4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 28vw;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.orang-alumni{
display: flex;
justify-content: space-around;
}

.jumlah-alumni{
    display: flex;
    flex-direction: column;
}

.jumlah{
    width: 20vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: thin;
    color: #8B8D97;
    font-size: 20px;
    display: flex;
    margin-left: 10%;
    margin-top: 5%;

}

.orang{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: #45464E;
    font-size: 35px;
    display: flex;
    margin-left: 10%;
}

.alumni{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #8B8D97;
    font-size: 50px;
    display: flex;
    margin-top: 30%;
    margin-right: 40%;
}

.container-bawah{
    display: flex;
    flex-direction: row;
}

.container-diagram{
    display: flex;
    flex-direction: column;
    width: 63vw;
    height: 80vh;
    /* border: 1px solid black; */
    /* margin-left: 1vw; */
}

.container-diagram-bulat{
    width: 55vw;
    height: 40vh;
    /* border: 1px solid black; */
    margin-left: 6.5vw;
    background-color: white;
    border-radius: 10px;
}

.container-diagram-batang{
    width: 55vw;
    height: 130vh;
    /* border: 1px solid black; */
    margin-left: 6.5vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 1vw;
}

.container-keterserapan-alumni{
    display: flex;
    width: 34.5vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
}

.container-keterserapan-alumni-content{
    display: flex;
    flex-direction: row;
}

.container-keterserapan-alumni-text1{
    font-family: 'Poppins';
    font-size: 100%;
    margin-left: 10vw;
    margin-top: 5%;
    font-weight: 500;
}

.container-keterserapan-alumni-urutan{
    margin-left: 1.6vw;
}

.container-keterserapan-alumni-urutan-itb{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}

.container-keterserapan-alumni-urutan-gits{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: -8%;
}

.container-keterserapan-alumni-urutan-upi{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.container-keterserapan-alumni-angka{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
    height: 35vh;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.container-keterserapan-alumni-angka h3{
    font-size: 1.5vw;
    margin-top: 3%;
}

.container-keterserapan-alumni-gambar{
    width: 10vw;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.container-keterserapan-alumni-text{
    display: flex;
    flex-direction: column  ;
    width: 35vw;
    height: 35vh;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-left: 5%;
}

.urutan{
    font-size: 1.5vw;
    margin-top: 3%;
}
.orang1{
    display: flex;
    flex-direction: row;
}

.orangg{

    margin-left: 5%;
    color: #8B8D97;
    font-weight: 600;
    font-size: 100%;
    margin-top: 5%;
}

.img-itb{
    width: 5vw;
    height: 10vh;
    margin-left: 6%;

}

.nama-univ{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    color: #45464E;
    margin-top: 4%;
}

.img-gitst{
    width: 5vw;
    height: 6.3vh;
}

.img-upi{
    width: 5vw;
    height: 10vh;
    margin-left: 15%;
}


.dashboard{
    font-size: 15px;
    margin-top: 10px;
}

.urutan3{
    margin-left: 7%;
    font-size: 1.5vw;
    margin-top: 3%;
}

.chart-donat{
    align-self: center;
}

.chart-wrap{
    margin-left: 25%;
}

/* .chart-line{
    margin-left: 20%;
} */
